
body{
    background-color: #141414;
}
.navbar{
    background-color: transparent !important;
}

.nav-link{
    color:#fff !important;

}

.bi{
    color:#fff;
}

#hamburg{
    border-radius: 0.1rem;
    background-color: #fff!important;
}

.na-toggler{
    border-radius: 2rem;
}

.carousel-inner{
    position: relative;
    overflow: visible!important;
}